<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>

<h2>Welcome to Bookers!!</h2>
<h4>you can share and exhange your opinions, inpressions, and emotions about various books!</h4>




<%= link_to "Log in", new_user_session_path, class: "btn btn-info" %>

<%= link_to "Sign_up", new_user_registration_path, class: "btn btn-success" %>
