<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>

<div class="container">
  <div class="row">
	<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
		<h1>Welcome to
		  <i class="fas fa-book" style="color: #000000;"></i>
		  <strong>Bookers</strong>
		  !!
		</h1>
		<p>In
		  <i class="fas fa-book" style="color: #000000;"></i>
		  <strong>Bookers</strong>,<br>
		  	you can share and exchange your opinions , inpresiions , and emotions<br>
		  	about various books!
		</p>
	<div class="btn-wrapper col-10 mx-auto">
		<div class="row">
			<%= link_to "Log in", "/users/sign_in", class:"btn btn-info btn-sm btn-block mb-3" %>
		</div>
    <div class="row">
		<%= link_to "Sign up", "/users/sign_up", class:"btn btn-success btn-sm btn-block" %>
    </div>
	</div>
  </div>
</div>
</div>