<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
	<div class="col-md-6">
	  <div class="row justify-content-center">
		<h1>Welcome to
		  <i class="fa-solid fa-book" style="color: #000000;"></i>
		  <b>Bookers!!</b>
		</h1>
		<p>In
		  <i class="fa-solid fa-book" style="color: #000000;"></i>
		  <b>Bookers</b>,<br>
		  	you can share and exchange your opinions , inpresiions , and emotions<br>
		  	about various books!
		</p>
	  </div>
	<div class="row justify-content-center py-1">
    	<%= link_to "Log in", "/users/sign_in", class:"btn btn-primary col-md-10" %>
	</div>
	<div class="row justify-content-center py-1">
		<%= link_to "Sign up", "/users/sign_up", class:"btn btn-success col-md-10" %>
	</div>
  </div>
</div>